@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* CSS resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary-color: #25df8f;
  --secondary-color: #c1c8d7;
  --primary-text-color: #1a1a1a;
  --secondary-text-color: #949fb7;
  --tertiary-text-color: #596172;
  --border-color: #d9dde7;
  --primary-white-color: #fff;
  --apartment-background-color: #f6f6f7;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  color: var(--secondary-text-color);
  background: transparent;
}

::-webkit-input-placeholder {
  color: var(--secondary-text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/* utility classes */
.container {
  margin-inline: 5rem;
}

.flex {
  display: flex;
}

/* navbar */
nav {
  padding: 0.5rem 2rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px var(--box-shadow-color);
}

.first-half {
  gap: 2.5rem;
  align-items: center;
}
.logo {
  margin-top: 5px;
  cursor: pointer;
}
.search {
  border: 0.5px solid var(--border-color);
  border-radius: 3px;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  background: transparent;
}
.search input {
  width: 15rem;
}
.second-half {
  gap: 2rem;
  align-items: center;
}

.nav-links {
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.nav-links li a {
  color: var(--tertiary-text-color);
  font-size: 20px;
  font-weight: bold;
}
.hamburger {
  display: none;
}

/* home section */
.home-div {
  margin-top: 5rem;
  margin-bottom: 3rem;
  gap: 2rem;
}
.home-left {
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 50%;
  gap: 1rem;
}
.home-emoji {
  font-size: 4rem;
}
.home-left p {
  font-size: 2.4rem;
  color: var(--primary-text-color);
  font-weight: bold;
}
.input-search-home {
  gap: 0.5rem;
  border: 1px solid var(--border-color);
  width: 70%;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  padding-block: 10px;
  border-radius: 5px;
}
.home-input {
  flex-basis: 60%;
}
.home-buttons {
  gap: 1rem;
  width: 90%;
  padding-block: 1rem;
  flex-wrap: wrap;
}
.home-button {
  padding: 0.5rem;
  border: 1px solid;
  background-color: var(--border-color);
  color: var(--primary-white-color);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  cursor: pointer;
}
.all-properties-button {
  background-color: var(--primary-color);
}
.home-right {
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}
.home-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* apartments section */
.apartments {
  background-color: var(--apartment-background-color);
  padding-block: 1rem;
}
.apartment-head {
  justify-content: space-between;
}
.apartment-head h2 {
  color: var(--secondary-text-color);
  font-size: 1.5rem;
}
.apartment-head h2 span {
  color: var(--primary-text-color);
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  padding-block: 1.5rem;
}
.card {
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.card-title {
  justify-content: space-between;
}
.card-title p {
  color: var(--secondary-text-color);
  font-weight: bold;
}
.card-description {
  color: var(--primary-text-color);
  font-size: 1.3rem;
  font-weight: bold;
}
.card-content {
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0 10px var(--box-shadow-color);
}
